:root {
  --color-azulOscuro: #0d2235;
  --color-azulBase: #0ea5e9;
  --color-blacoCard: #eeeeee;

  --color-negroBase: #121010;
  --color-blancoBaso: #ffffff;
  --color-grisBase: #d9d9d9;
  --color-verdeBase: #9caea9;
  --color-verdeMedio: #353535;
  --color-verdeOscuro: #284b63;

  --color-grisbase1: #38302e;
  --color-grisbase2: #6f6866;
  --color-grisbase3: #788585;
  --color-grisbase4: #9caea9;
  --color-grisbase5: #ccdad1;

  /* --color-negroBase: #121010;
  --color-blancoBaso: #ede6db;
  --color-verdeBase: #417d7a;
  --color-verdeMedio: #1d5c63;
  --color-verdeOscuro: #1a3c40; */
}

@media (max-width: 900px) {
  .button-81 {
    font-size: 1.125rem;
    /* padding: 1rem 2rem; */
  }

  .SideBar {
    display: none;
  }

  .aside {
    width: 0 !important;
  }

  .main {
    width: 100% !important;
  }

  .Home__Container {
    flex-direction: column !important;
    margin-top: 15vh;
  }

  .Home__Izquierda {
    width: 100% !important;
  }
  .Home__Descripcion {
    text-align: center !important;
  }
  .Header {
    display: flex !important;
    justify-content: space-around !important ;
  }

  .DashBoard {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .Clima__container {
    flex-direction: column;
  }

  .Cryto__container {
    flex-direction: column;
  }

  .Cryto__container--img {
    width: 90% !important;
  }
  .Cryto__container--info {
    width: 90% !important;
  }

  .Noticias__Selectores {
    flex-direction: column;
    align-items: center !important;
  }

  .Noticias__Container--card {
    grid-template-columns: repeat(1, 1fr) !important;
    justify-items: center;
  }

  .Bebida__Selectores {
    flex-direction: column;
    align-items: center !important;
  }

  .Bebida__Container--card {
    grid-template-columns: repeat(1, 1fr) !important;
    justify-items: center;
  }

  .Poke__Form {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .Poke__Container--Grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (min-width: 900px) {
  .Header button {
    display: none;
  }
}

.Modal {
  position: fixed;
  z-index: 1;
  background-color: var(--color-grisbase4);
  opacity: 0.96;
  width: 100%;
  height: 100%;
}

.overlay__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overlay__boton {
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 4rem;
  color: white !important;
}

.overlay__boton--X {
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  color: white !important;
}

.Header {
  background-color: var(--color-verdeMedio);
  height: 10vh;
  width: 100%;
  border-bottom: 1rem solid var(--color-grisbase3);
  color: var(--color-grisBase);
  font-size: 2.3rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}

.SideBar {
  background-color: var(--color-grisbase3);
  height: 90vh;
}

.main {
  width: 80%;
  /* background-color: blueviolet; */
  height: 90vh;
  overflow-y: scroll;
  background-color: var(--color-grisBase);
}

.aside {
  width: 20%;
}

.containerMain {
  display: flex;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  /* color: white; */
  color: var(--color-negroBase);
  width: auto;
}

.SideBar__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
}

.SideBar__Container--Boton {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.6rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid var(--color-verdeOscuro);
}

.Sidebar__Container-bg {
  background-color: var(--color-verdeBase);
}

.Sidebar__P {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  /* color: var(--color-grisBase); */
}

.DashBoard {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.DashBoard__Card {
  background-color: #bcd1cb;
  border-radius: 1rem;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 35vh;
  height: 30vh;
}

.DashBoard__Parrafo {
  margin: 1.4rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-negroBase);
}

.DashBoard__Card--img {
  height: 60%;
  width: 60%;
  position: relative;
  /* background-color: #0d2235; */
  margin-bottom: 1rem;
}
.DashBoard__Imagen {
  position: relative;
  object-fit: contain;
}

.Home {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Home__Container {
  width: 90%;
  height: 90vh;
  display: flex;
  /* row-gap: 20rem; */
  align-items: center;
  justify-content: center;
  /* background-color: rebeccapurple; */
}

.Home__Izquierda {
  width: 60%;
}

.Home__Izquierda h1 {
  color: var(--color-azulOscuro);
  font-size: 3rem;
  font-weight: 600;
}

.Home__Izquierda p {
  color: var(--color-azulOscuro);
  font-size: 2rem;
  font-weight: 400;
}

.Home__Izquierda span {
  color: #0ea5e9;
}

.Home__Derecho {
  width: 40%;
}

.Home__Derecho--Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 2rem;
}

.Home__Derecho--Grid:hover {
  cursor: pointer;
}

.Home__imagen {
  /* background-color: #0d2235; */
  width: 70%;
  /* height: 20vh; */

  /* position: relative; */
}

.Home__Descripcion {
  margin-top: 3rem;
  text-align: end;
}

.Cryto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-negroBase);
}

.Cryto__container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.Cryto__container--img {
  width: 60%;
}
.Cryto__container--info {
  width: 40%;
}
.Cryto__Label {
  font-size: 24px;
  display: block;
  font-weight: 700;
  /* color: #fff; */
  margin: 15px 0;
}

.Cryto__Select {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.Cryto__boton {
  background: #9497ff;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.Cryto__boton:hover {
  background-color: #7a7dfe;
  cursor: pointer;
}

.Cryto__Container--Result {
  /* background-color: red; */
  margin-top: 3rem;
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.Cryto__Result--p {
  font-size: 1.2rem;
  font-weight: 500;
}

.Clima {
  color: var(--color-negroBase);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Clima__container {
  margin: 5rem 0;
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 1.2rem;

  /* background-color: var(--color-blacoCard); */
}

.Clima__Label {
  font-size: 24px;
  display: block;
  font-weight: 700;
  margin: 15px 0;
}

.Clima__Select {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.Clima__boton {
  background: #9497ff;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.Clima__boton:hover {
  background-color: #7a7dfe;
  cursor: pointer;
}

.Clima__Parrafo {
  font-weight: 500;
}

.Noticia {
  /* background-color: #0d2235; */
  color: var(--color-negroBase);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Noticia__Titulo1 {
  margin-top: 2.5rem;
  text-align: center;
}

.Noticia__Titulo2 {
  margin-top: 3rem;
}

.Noticia__container {
  /* background-color: #0d2235; */
  width: 90%;
}

.Noticias__Selectores {
  /* background-color: #0ea5e9; */
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: flex-end;
}
.Noticia__Label {
  font-size: 1.2rem;
  display: block;
  font-weight: 700;
  margin: 15px 0;
}

.Noticias__Boton {
  background: #9497ff;
  width: auto;
  height: auto;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.Noticias__Boton:hover {
  background-color: #7a7dfe;
  cursor: pointer;
}

.Noticias__Container--card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.Noticias__Card {
  background-color: #fff;
  border-radius: 1rem;
  height: auto;
  width: 40vh;
  display: flex;
  flex-direction: column;
}

.Noticias__img {
  width: 100%;
  height: 27vh;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.Noticias_link {
  background-color: #163857;
  width: 100%;
  padding: 0.7rem 0;
  color: var(--color-blancoBaso);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

.Bebida {
  /* background-color: #0d2235; */
  color: var(--color-negroBase);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Boticia__container {
  width: 90%;
}

.Bebida__Selectores {
  /* background-color: #0ea5e9; */
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: flex-end;
}

.Bebida__Label {
  font-size: 1.2rem;
  display: block;
  font-weight: 700;
  margin: 15px 0;
}

.Bebida__Select {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.Bebida__Container--card {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.Bebida__Card {
  background-color: #fff;
  border-radius: 1rem;
  height: auto;
  width: 40vh;
  display: flex;
  flex-direction: column;
}

.Poke {
  /* background-color: #0ea5e9; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.Poke__container {
  width: 90%;
  /* background-color: #163857; */
}

.Poke__imagen {
  text-align: center;
  margin: 2rem 0;
}

.PokeCard__ID {
  margin: 0;
  margin: 0.2rem 1rem;
  text-align: left;
}

.PokeCard__titulo {
  margin: 0;
  margin-bottom: 1rem;
}

.Poke__Form {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.Poke__Input {
  /* width: 100%; */
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.Poke__boton {
  background: #9497ff;
  /* width: 70%; */
  padding: 10px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  /* margin-top: 20px; */
}

.Poke__boton:hover {
  background-color: #7a7dfe;
  cursor: pointer;
}

.Poke__Container--Grid {
  /* background-color: #0ea5e9; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.PokeCard {
  background-color: #fff;
  width: 40vh;
  height: 70vh;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 10px 10px 9px -7px rgba(0, 0, 0, 0.75);
}

.PokeCard__img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.Poke__Paginacion {
  display: flex;
}

.Poke__Paginacion p {
  font-size: 2rem;
  margin: 0;
}

.PokeCard__titulo::first-letter {
  text-transform: uppercase;
}

.PokeCard__statusGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.PokeCard__statusGrid p {
  margin: 5px 0;
  text-transform: uppercase;
}

.PokeCard__statusGrid span {
  font-weight: 700;
  display: block;
}

.PokeCard__type {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #0d2235; */
}

.PokeCard__typeBoton {
  background-color: #0ea5e9;
  padding: 0.4rem 1rem;
  border: 3px solid var(--color-grisbase3);
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.Info {
  width: 100%;
  height: auto;
  padding-top: 3rem;
  /* background-color: #0ea5e9; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Info__Suscribe {
  /* min-height: 10vh; */
  /* float: right; */
}

.Info__Suscribe label {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}

.Info__Suscribe input {
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 0.5rem 0;
}

.Info__Suscribe button {
  background: #9497ff;
  /* width: 100%; */
  padding: 10px;
  margin: 0 1rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.Info__Suscribe button:hover {
  background-color: #7a7dfe;
  cursor: pointer;
}

.Info__container {
  /* background-color: #284b63; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.Info__Link {
  display: grid;
  /* grid-template-rows: 2, 1fr; */

  grid-template-columns: repeat(2, 1fr);
  width: 80%;

  /* align-items: center; */
  padding-top: 1rem;
  gap: 1rem;
}
.Info__Link p {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.MailContainer {
  /* background-color: #0d2235; */
  height: 70vh;
  display: flex;
}

.Mail__Cback {
  /* background-color: #0ea5e9; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Mail__img {
  /* background-color: #353535; */

  display: flex;
  justify-content: center;
  height: 20vh;
  /* self */
}

.Mail__Sback {
  /* background-color: #20e90e; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 30vh; */
}

/* CSS */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a !important;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.6rem 1.6rem;
  text-align: center;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

.button-81:hover a {
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
  }
}
