:root {
  --color-azulOscuro: #0d2235;
  --color-azulBase: #0ea5e9;
  --color-blacoCard: #eeeeee;

  --color-negroBase: #121010;
  --color-blancoBaso: #ede6db;
  --color-verdeBase: #417d7a;
  --color-verdeMedio: #1d5c63;
  --color-verdeOscuro: #1a3c40;
}

.Header {
  background-color: var(--color-verdeMedio);
  height: 10vh;
  width: 100%;
  border-bottom: 1rem solid var(--color-verdeOscuro);
  color: var(--color-negroBase);
  font-size: 2.3rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}

.SideBar {
  background-color: var(--color-verdeMedio);
  height: 90vh;
}

.main {
  width: 80%;
  /* background-color: blueviolet; */
  height: 90vh;
  overflow-y: scroll;
  background-color: var(--color-blancoBaso);
}

.aside {
  width: 20%;
}

.containerMain {
  display: flex;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  /* color: white; */
  color: var(--color-negroBase);
  width: auto;
}

.SideBar__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
}

.SideBar__Container--Boton {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.6rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid var(--color-verdeOscuro);
}

.Sidebar__Container-bg {
  background-color: var(--color-verdeBase);
}

.Sidebar__P {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.DashBoard {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.DashBoard__Card {
  background-color: var(--color-verdeBase);
  border-radius: 1rem;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 35vh;
  height: 30vh;
}

.DashBoard__Parrafo {
  margin: 1.4rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-negroBase);
}

.DashBoard__Card--img {
  height: 100%;
  width: 100%;
  position: relative;
}
.DashBoard__Imagen {
  position: relative;
  object-fit: contain;
}

.Cryto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-negroBase);
}

.Cryto__container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.Cryto__container--img {
  width: 60%;
}
.Cryto__container--info {
  width: 40%;
}
.Cryto__Label {
  font-size: 24px;
  display: block;
  font-weight: 700;
  /* color: #fff; */
  margin: 15px 0;
}

.Cryto__Select {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.Cryto__boton {
  background: #9497ff;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.Cryto__boton:hover {
  background-color: #7a7dfe;
  cursor: pointer;
}

.Cryto__Container--Result {
  /* background-color: red; */
  margin-top: 3rem;
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.Cryto__Result--p {
  font-size: 1.2rem;
  font-weight: 500;
}

.Clima {
  color: var(--color-negroBase);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Clima__container {
  margin: 5rem 0;
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 1.2rem;

  /* background-color: var(--color-blacoCard); */
}

.Clima__Label {
  font-size: 24px;
  display: block;
  font-weight: 700;
  margin: 15px 0;
}

.Clima__Select {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.Clima__boton {
  background: #9497ff;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.Clima__boton:hover {
  background-color: #7a7dfe;
  cursor: pointer;
}

.Clima__Parrafo {
  font-weight: 500;
}

.Noticia {
  /* background-color: #0d2235; */
  color: var(--color-negroBase);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Noticia__Titulo1 {
  margin-top: 2.5rem;
  text-align: center;
}

.Noticia__Titulo2 {
  margin-top: 3rem;
}

.Noticia__container {
  /* background-color: #0d2235; */
  width: 90%;
}

.Noticias__Selectores {
  /* background-color: #0ea5e9; */
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: flex-end;
}
.Noticia__Label {
  font-size: 1.2rem;
  display: block;
  font-weight: 700;
  margin: 15px 0;
}

.Noticias__Boton {
  background: #9497ff;
  width: auto;
  height: auto;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.Noticias__Boton:hover {
  background-color: #7a7dfe;
  cursor: pointer;
}

.Noticias__Container--card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.Noticias__Card {
  background-color: #fff;
  border-radius: 1rem;
  height: auto;
  width: 40vh;
  display: flex;
  flex-direction: column;
}

.Noticias__img {
  width: 100%;
  height: 27vh;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.Noticias_link {
  background-color: #163857;
  width: 100%;
  padding: 0.7rem 0;
  color: var(--color-blancoBaso);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}
